<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <div class="div">
       <p>Date:_____</p>
       <br/>
       <h2 align="center"><u>CUSTODIAN CERTIFICATE</u></h2>
       <div class="div1">
   This is to certify that <b>Ms.<h1><%= result.name %></h1>,</b><b>Regd.No.<h1><%= result.regno %></h1>,</b>
   is a student of this institute.
   <br/><br/>
   <br/>
   <div class="div2">
       The following original certificates of Ms. ___________ are with this college & in our possession:
   <ol>
           <li>
               10 <sup>th</sup> class</li>
               <li>Intermediate</li>
               <li>6<sup>th</sup> to 10 <sup>th</sup> Study certificates </li>
               <li>Intermediate TC</li>
               <li>Caste Certificate</li>      
       </ol>
   </div>
       <br/>
       <br/>
       <br/>
       <br/><br/>
       <div class="div3">
           This certificate is issued on request her letter dated ____  for _____  purpose
       </div>
       <div class="div4" align="right">
           PRINCIPAL
       </div>
   </div>
</div>
   </div>
       
    </body>
</html>