<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <div className="div">
        <p id="i">Date:_____</p>
        <br/>
        <h2 align="center"><u>FEE ESTIMATION CERTIFICATE</u></h2>
        <div className="div1">
    This is to certify that <b>Ms.<span id="namees"></span> with </b><b>Regd.No._____</b>
    is a student of this institute.  She has joined in the 1st BDS course during August 2016. At present she is studying 3rd BDS course. 
    <br/>
    <br/>
    <div className="div2">
        She has to pay the below mentioned fee to the college for her 3rd BDS course
        <p>Tuition Fee -</p>
        <p>Miscellaneous Fee	-</p> 
        <p> Stipend Fee		-</p>
        <p><b> Total fee 		-	Rs.     </b>	
        </p>
    </div>
    <br/>
        <div className="div3">
            She has paid entire fee to the college for her 1st  & 2nd BDS course.
        </div>
        <br/>
        <div className="div4">
            College fee should be paid in form of Demand Draft drawn in favour of <b>Vishnu Dental College</b>, Payable at <b>Bhimavaram</b>
            </div>
            <br/>
            <div className="div5">
                This certificate is issued with reference to her letter dated _____ for _____ purpose. The Institute is not responsible for any default in payment by the candidate.
            </div>
            <br/>
        <div className="div6" align="right">
            PRINCIPAL
        </div>
    </div>
</div>
    </div>  
    </body>
</html>

