<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <div className="div">
       <p>Date:_____</p>
       <br/>
       <h2 align="center"><u>STUDY CERTIFICATE</u></h2>
       <div className="div1">
   This is to certify that <b>Mr._____</b><b>Regd.No._____</b>
   is a student of this institute.He has joined in the 1st BDS course during the academic year 2017-2018. <br/>
   At present he is studying Second BDS course.
   
   <div className="div2">
       This certificate is issued with reference to her letter dated___for____purpose.
       <br/>
       
       <div className="div3" align="right">
           PRINCIPAL
       </div>
   </div>
</div>
   </div>
   
       </div>
    </body>
</html>