<!DOCTYPE html>
<html lang="en">
<head>
  <title>E-certificate Generation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
    async
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/semantic.min.css"
  />
  <style>
    body{
      background-image: linear-gradient(rgb(253, 135, 228),orange, rgb(0, 255, 47));
        background-repeat:no-repeat;
        background-size: cover;
        height: 750px;
    }
    .div1{
      padding-top: 20%;
      color:linear-gradient(rgb(253, 135, 228),orange, rgb(0, 255, 47));
    }
    
  
  </style>
</head>
<body>

  <div class="ui seven item menu">
    <a href="cstudy" class="item">STUDY CERTIFICATE</a>
    <a href="ccustodian" class="item">CUSTODIAN CERTIFICATE</a>
    <a href="cfee" class="item">FEE  ESTIMATION </a>
    <a href="cconcern" class="item">TO WHOMSOEVER IT MAY CONCERN</a>
    <a href="cresidence" class="item">RESIDENCE CERTIFICATE</a>
    <a href="cinternship" class="item">INTERNSHIP DURATION</a>
    <a href="cstudy&conduct" class="item">STUDY AND CONDUCT</a>
  </div>
  <div class="div1">
  <marquee width="80%" direction="left" height="50px" scrollamount="12">
    <h1>Select Required Certificate</h1>
    </marquee></div>

</body>
</html>
